<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.obumbravit.hsaux</string>
	<key>NSPrincipalClass</key>
	<string>HSAuxViewController</string>
	<key>HSWidgetAddNewOptionsControllerClass</key>
	<string>HSAuxPreferencesViewController</string>
	<key>HSWidgetPreferencesControllerClass</key>
	<string>HSAuxPreferencesViewController</string>
	<key>HSWidgetDisplayName</key>
	<string>Aux</string>
	<key>HSWidgetIcon</key>
	<string>HSAux.png</string>
	<key>HSWidgetCreator</key>
	<string>Obumbravit</string>
</dict>
</plist>